{% set badge_classes = ['article-headline-category'] %}
{% if standalone|default(false) %}
    {% set badge_classes = badge_classes|merge(['article-headline-category-standalone']) %}
{% endif %}
{% if not route_params %}
    {% set badge_classes = badge_classes|merge(['article-headline-category-static']) %}
{% endif %}

{% if route_params %}
    <a class="{{ badge_classes|join(' ') }}" href="{{ path('blog_category', route_params) }}">
        <span class="article-headline-category-label" data-i18n="blog_category_label">Kategoria</span>
        <span class="article-headline-category-name">{{ category.localizedTitle(user_language) }}</span>
    </a>
{% else %}
    <span class="{{ badge_classes|join(' ') }}" role="note">
        <span class="article-headline-category-label" data-i18n="blog_category_label">Kategoria</span>
        <span class="article-headline-category-name">{{ category.localizedTitle(user_language) }}</span>
    </span>
{% endif %}
