{% for item in items %}
    <div class="mobile-menu-item{{ item.has_children ? ' has-children' : '' }}">
        {% if item.has_children %}
            {% set submenu_id = 'mobile-menu-children-' ~ (item.id ?? loop.index0) %}
            <button
                type="button"
                class="mobile-menu-link"
                data-menu-label-pl="{{ item.label_pl }}"
                data-menu-label-en="{{ item.label_en }}"
                data-action="toggle-mobile-submenu"
                aria-expanded="false"
                aria-controls="{{ submenu_id }}"
            >{{ item.label }}</button>
        {% elseif item.url %}
            <a
                class="mobile-menu-link"
                href="{{ item.url }}"
                data-menu-label-pl="{{ item.label_pl }}"
                data-menu-label-en="{{ item.label_en }}"
                {% if item.open_in_new_window|default(false) %} target="_blank" rel="noreferrer noopener"{% endif %}
            >{{ item.label }}</a>
        {% else %}
            <span
                class="mobile-menu-link"
                data-menu-label-pl="{{ item.label_pl }}"
                data-menu-label-en="{{ item.label_en }}"
            >{{ item.label }}</span>
        {% endif %}
        {% if item.has_children %}
            <div class="mobile-menu-children" id="{{ submenu_id }}" hidden>
                {% include '_mobile_top_menu_items.html.twig' with { items: item.children } %}
            </div>
        {% endif %}
    </div>
{% endfor %}
