{% for item in items %}
    <div class="nav-item{{ item.has_children ? ' has-children' : '' }}">
        {% set submenu_id = 'top-menu-submenu-' ~ (item.id ?? loop.index0) %}
        {% if item.url %}
            <a
                class="nav-link"
                href="{{ item.url }}"
                data-menu-label-pl="{{ item.label_pl }}"
                data-menu-label-en="{{ item.label_en }}"
                {% if item.has_children %}
                    aria-haspopup="true"
                    aria-expanded="false"
                    aria-controls="{{ submenu_id }}"
                {% endif %}
                {% if item.open_in_new_window|default(false) %} target="_blank" rel="noreferrer noopener"{% endif %}
            >{{ item.label }}</a>
        {% elseif item.has_children %}
            <button
                type="button"
                class="nav-link"
                data-menu-label-pl="{{ item.label_pl }}"
                data-menu-label-en="{{ item.label_en }}"
                aria-haspopup="true"
                aria-expanded="false"
                aria-controls="{{ submenu_id }}"
            >{{ item.label }}</button>
        {% else %}
            <span
                class="nav-link"
                data-menu-label-pl="{{ item.label_pl }}"
                data-menu-label-en="{{ item.label_en }}"
            >{{ item.label }}</span>
        {% endif %}
        {% if item.has_children %}
            <div class="nav-submenu" id="{{ submenu_id }}">
                {% include '_top_menu_items.html.twig' with { items: item.children } %}
            </div>
        {% endif %}
    </div>
{% endfor %}
